@import "../../css/index.css";
@import "../../css/color/green.hex.css";
@import "../../css/packs/normalize";


h1 {
  --text-1: var(--gray-9);
  --text-2: var(--gray-7);
color: var(--text-1);


  @media (--OSdark) {
    --text-1: var(--green-7);
    --text-2: var(--green-5);

  }
}
