@import "../../css/index.css";
@import "../../css/color/green.hex.css";
@import "../../css/packs/normalize";




:root {

--brand: oklch(85.36% 0.192 160.28);

--palette-hue: 155;
--palette-hue-rotate-by: 0;
--palette-chroma: 1.27;
}


h1 {
	color: var(--brand);
}
